
.avatar-preview{
  width: 100px;
  height: auto
}


.home {
  background:linear-gradient(to right bottom, rgba(60, 99, 130,0.4), rgba(10, 61, 98,0.5)), url(./images/paris.jpg) no-repeat center center fixed ;
  background-size: cover;
  height: 100vh;
  right: 0;
  overflow: hidden;
}

.nav{
background-color: rgba(60, 99, 130,1.0);
}

.button-div{
  margin-top:15%;
  margin-left:40%;
  margin-right:40%;
  margin-bottom:50px;
  
}

.btn{
  background-color:#3c6382;
  border-radius:30px;
  display:inline-block;
}
.btn:hover{
  transform: skewX(5deg) skewY(-5deg) ;
  background-color:#fff;
  color:rgba(60, 99, 130,1.0);
}

#home-p{
  margin-left: 30%;
  width: 40%;
  color: white;
}

.card{
  margin: auto;
  width: 50%;
  /* border: 3px solid rgba(60, 99, 130,1.0) ; */
  padding: 10px;
  margin-bottom:20px;
}

body{
  background-color: rgba(60, 99, 130,0.05);
}

.Button{
 color: rgba(60, 99, 130,1.0);

}

.color{
 color: white;
}
.img{
  width:600px;
  height: 380px;
}

@media screen and (min-width:640px){
  .carousel .carousel-item img{
    margin-top: -200px;
  }
  .carousel .carousel-item #image{
    margin-top:50px;
    
  }

}

.wrapper{
  text-align: center;
}

.center{
  display: inline-block;
}

.btn1{
  background-color:#3c6382;
  border-radius:30px;
  display:inline-block;
  text-decoration: none;
  color:white;
  width: 61px;
  height: 30px;
  padding-left: 8px;
  padding-top: 4px;
}

.btn1:hover{
  transform: skewX(5deg) skewY(-5deg) ;
  background-color:#d6cfcf;
  color:rgba(60, 99, 130,1.0);
}

.active-purple-3 input[type=text] {
  border: 1px solid rgba(60, 99, 130,1.0);
  box-shadow: 0 0 0 1px rgba(60, 99, 130,1.0);
}

.search{
  margin-top: 30px;
}

.details{
  margin-bottom: 50px;
}

#search-input{
  width: 70%;
    margin-left: auto;
    margin-right: auto;
}