
.avatar-preview{
  width: 100px;
  height: auto
}


.home {
  background:linear-gradient(to right bottom, rgba(60, 99, 130,0.4), rgba(10, 61, 98,0.5)), url(./images/paris.jpg) no-repeat center center fixed ;
  background-size: cover;
  height: 600px;
  right: 0;
  overflow: hidden;
}

.nav{
background-color: rgba(60, 99, 130,1.0);
}

#home-title{
  color: white;
  display:flex;
  justify-content: center;
}

.button-div{
  margin-top:15%;
  margin-left:40%;
  margin-right:40%;
  margin-bottom:50px;
  
}

.btn{
  background-color:rgba(60, 99, 130,1.0);
  border-radius:30px;
}
.btn:hover{
  transform: skewX(5deg) skewY(-5deg) ;
}

#home-p{
  margin-left: 30%;
  width: 40%;
  color: white;
}

.card{
  margin: auto;
  width: 50%;
  border: 3px solid rgba(60, 99, 130,1.0) ;
  padding: 10px;

}

.Button{
 color: rgba(60, 99, 130,1.0);
}

.img{
  width:600px;
  height: 380px;
}
