body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.UserSign{
  display: flex;
  flex-direction: column;
  background-color: red;
}

.OwnerSign{
  display: flex;
  flex-direction: column;
  background-color: blue;
}